<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Property Billing</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
<div class="container2">
<h1 >Property Registration</h1>
    <a href="/login">
        <button type="button">Login</button>
    </a>

</div>
<br>
<br>
<div class="container">
    <h2 class="sidebar-home">Register your property today to be a part of our national system. After registration, you will get a monthly bill based on the property value of your property.<br><br>After you create your account you can login to add another property, pay your monthly bills, and view all your properties.<br>
        <br>
        <a href="/property" >
        <button type="button">Create an account and add your first property</button>
    </a></h2>

    <div class="img-container">
<img src="/static/images/home_image.jpg" alt="home_image">
</div>

</div>
    <br>
<br>
<br>

<br>
<br>
<br>


</body>
</html>